BASE_URL=https://the-internet.herokuapp.com
HEADLESS_MODE=true
VIDEO_RECORDING=false

# Credenciais para /basic_auth (usuário: admin, senha: admin)
BASIC_AUTH_USERNAME=admin
BASIC_AUTH_PASSWORD=admin

