BASE_URL=https://www.saucedemo.com
HEADLESS_MODE=true
VIDEO_RECORDING=false

# Credenciais padrão do Swag Labs
# https://www.saucedemo.com/
UI_USERNAME=standard_user
UI_PASSWORD=secret_sauce

# Usuários especiais (usados em cenários negativos / borda)
LOCKED_OUT_USERNAME=locked_out_user
PROBLEM_USERNAME=problem_user
PERFORMANCE_USERNAME=performance_glitch_user

